.selector {
  position: relative;
  color: var(--gray);
  font-size: 2rem;
  & &__button {
    position: absolute;
    right: 6px;
    top: 50%;
    width: auto;
    display: inline-block;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    &.city-selected {
      opacity: 1;
      visibility: visible;
    }
  }

  & input {
    border-radius: 3rem;
    outline: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
    padding: 1.7rem 6rem;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.8);
    transition: all 0.3s ease-in;
    &:focus {
      padding-right: 12rem;
    }
  }

  &:focus-within &__icon {
    animation: check 0.7s 0.3s ease-in-out normal;
  }

  &__list {
    list-style: none;
  }
  &__result-item {
    cursor: pointer;
    padding: 0.5rem 2rem;
    background-color: white;
    &:first-child {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
    &:last-child {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }
    &:hover {
      background-color: rgba(255, 255, 255, 0.7);
    }
    &.current {
      background-color: rgba(255, 255, 255, 0.7);
    }
  }
  &__icon {
    color: var(--orange);
    position: absolute;
    left: 2rem;
    font-size: 2.5rem;
    top: 53%;
    transform: translateY(-50%);
  }
}

@keyframes check {
  0% {
    transform: translateY(-50%) rotateY(0deg);
  }

  100% {
    transform: translateY(-50%) rotateY(180deg);
  }
}
