@import "../../util/scss/mixins";
.header-city {
  position: relative;
  z-index: 90;
  margin-top: 6rem;
  height: 70vh;
  @include respond(phone) {
    height: 45vh;
  }
  width: 100%;
  background-size: cover;
  background-position: center;

  &__plus-icon {
    position: relative;
    z-index: 99;
    font-size: 3.5rem;
    color: var(--orange);
    cursor: pointer;
    transition: 0.3s all;
    display: none;
    @include respond(tab-port) {
      display: block;
    }
  }

  &__label-plusIcon {
    position: relative;
  }
  &__check {
    display: none;
  }

  &__check:checked ~ label > &__sideMenu-bg {
    border: 145rem solid rgba(0, 0, 0, 0.75);
    visibility: visible;
  }

  &__check:checked ~ label > &__plus-icon {
    transform: rotate(45 * 3deg);
  }

  &__heading {
    @include centerElement;
    text-align: center;
    & > .heading--primary {
      color: white;
      font-weight: 700;
      font-size: 12rem;
      @include respond(tab-port) {
        font-size: 8rem;
      }
      @include respond(phone) {
        font-size: 4rem;
      }
    }
  }
  &__nav {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    &-container {
      width: 90%;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include respond(tab-port) {
        height: 8rem;
      }
    }
  }

  &__selector {
    width: 30%;
    display: flex;
    @include respond(tab-port) {
      width: 60%;
    }
  }
  &__menu {
    width: 60%;
    @include respond(tab-port) {
      display: none;
    }
  }
  &__sideMenu-bg {
    @include centerElement;
    transition: 0.4s all ease-in-out;
    border-radius: 50%;
    width: 300rem;
    height: 300rem;
    border: 0 solid rgba(0, 0, 0, 0.75);
    visibility: hidden;
  }
}

.nav-city {
  font-size: 2.3rem;
  color: white;
  font-weight: 700;
  text-transform: capitalize;
  &__list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: auto;
  }
  &__item {
    padding: 2rem;
    cursor: pointer;
    @include transition(white);
    margin-bottom: 2px;
  }
  &__icon {
    margin-right: 1.5rem;
  }
}

.sideMenu {
  position: fixed;
  top: 14rem;
  left: 4%;
  width: 80vw;
  height: 80vh;
  overflow: scroll;
  transform: translateX(-100%);
  transition: 0.5s all;
  opacity: 0;
  z-index: 9999;

  &--shown {
    opacity: 1;
    transform: translateX(0);
  }

  &__item {
    position: relative;
    width: 90%;
    margin: 5% auto;
    border: 1px solid var(--orange);
    height: 30rem;
    background: linear-gradient(
        45deg,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.43181),
        rgba(0, 0, 0, 0.902398)
      ),
      url("../../assets/images/desert.jpg");
    background-size: cover;
  }
  & &__title {
    @include centerElement;
    color: white;
    width: 100%;
  }
  &__icon {
    display: block;
    margin-bottom: 1.5rem;
  }
}
