@import "../../util/scss/mixins";
.header-city {
  position: relative;
  margin-top: 6rem;
  height: 70vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  &__plus-icon {
    position: relative;
    z-index: 99;
    font-size: 3.5rem;
    color: var(--orange);
    cursor: pointer;
    transition: 0.3s all;
    display: none;
    @include respond(tab-land) {
      display: block;
    }
  }

  &__check {
    display: none;
  }
  &__sideMenu {
    position: fixed;
    top: 14rem;
    left: 6rem;
    width: 80vw;
    height: 80vh;
    background-color: orangered;
    transform: scale(0);
    transition: 0.3s 0.2s all;
    opacity: 0;

    &--shown {
      opacity: 1;
      transform: scale(1);
    }

    &-bg {
      position: absolute;
      bottom: 4rem;
      right: 5rem;
      transform: translate(50%, 50%);
      width: 2rem;
      height: 2rem;
      transition: 0.3s all;
      background-color: rgba(0, 0, 0, 0.75);
      border-radius: 50%;
      visibility: hidden;
    }
  }
  &__check:checked ~ &__sideMenu-bg {
    width: 200rem;
    height: 200rem;

    visibility: visible;
  }

  &__check:checked ~ label > &__plus-icon {
    transform: rotate(45 * 3deg);
  }

  &__heading {
    @include centerElement;
    text-align: center;
    & > .heading--primary {
      color: white;
      font-weight: 700;
      font-size: 12rem;
    }
  }
  &__nav {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    &-container {
      width: 90%;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include respond(tab-land) {
        height: 8rem;
      }
    }
  }

  &__selector {
    width: 30%;
    display: flex;
    @include respond(tab-land) {
      width: 60%;
    }
  }
  &__menu {
    width: 70%;
    @include respond(tab-land) {
      display: none;
    }
  }
}

.nav-city {
  font-size: 2.3rem;
  color: white;
  font-weight: 700;
  &__list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: auto;
  }
  &__item {
    padding: 2rem;
    cursor: pointer;
    @include transition(white);
    margin-bottom: 2px;
  }
}
