@import "../../util/scss/mixins";

.contactus {
  position: relative;
  height: calc(90vh + 10rem);
  min-height: 460px;

  @include respond(meduim-desktop) {
    height: calc(70vh + 10rem);
  }

  @include respond(tab-port) {
    height: calc(80vh + 10rem);
  }
  @include respond(phone) {
    height: calc(60vh + 10rem);
  }
  transform: skewY(-10deg);
  & > * {
    transform: skewY(10deg);
  }
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  margin: auto;
  &__container {
    height: calc(90vh + 30rem);
    min-height: 560px;
    @include respond(meduim-desktop) {
      height: calc(70vh + 30rem);
    }
    @include respond(tab-port) {
      height: calc(80vh + 30rem);
    }
    @include respond(phone) {
      height: calc(60vh + 30rem);
    }
    top: -10rem;
    background-image: url("../../assets/images/chefchaouen-morocco.jpg");
    background-size: cover;
    background-position: top;
    position: relative;
  }
  &__form-links {
    @include centerElement;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 6rem 3rem;
    width: 60%;
    @include respond(phone) {
      width: 90%;
    }
    max-width: 50rem;
    font-size: 2rem;
    border-radius: 0.8rem;
  }
}

.form {
  &__group {
    width: 100%;
    position: relative;
    &:not(:last-child) {
      margin-bottom: 4rem;
    }
  }

  &__textarea {
    width: 90%;
    height: 15rem;
    max-width: 90%;
    max-height: 15rem;
    font: inherit;
    padding: 1rem;
    border-radius: 2px;
  }
  &__label {
    padding: 1.5rem 2rem;
    display: block;

    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s;
    color: white;
    transform: translateY(-5rem);
  }

  &__input {
    width: 90%;

    font: inherit; //input elements doesn't inherit the font-family from the parents.
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;

    outline: none;
    border: none;
    border-bottom: 2px solid transparent;
    transition: all 0.3s;

    &::placeholder {
      color: rgb(114, 114, 114);
    }
    &:focus {
      border-bottom: 2px solid var(--blue);
    }
    &:focus:invalid {
      border-bottom: 2px solid #c62828;
    }
  }
  &__input:placeholder-shown + &__label {
    opacity: 0;
    transform: translateY(0);
    visibility: hidden;
  }

  &__radio-group {
    width: 49%;
    display: inline-block;
  }

  &__radio-label {
    position: relative;

    cursor: pointer;
    padding-left: 4rem;
  }

  &__radio-button {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: inline-block;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: 4px solid var(--blue);

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      transition: all 0.3s;
    }
  }

  &__radio-input {
    display: none;
  }

  &__radio-input:checked ~ &__radio-label &__radio-button::after {
    border: 0.7rem solid var(--blue);
  }
}
