@import "../../util/scss/mixins";

.contactus {
  filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.3));
  &__container {
    position: relative;

    margin: auto;
    background-image: url("../../assets/images/chefchaouen-morocco.jpg");
    background-size: cover;
    background-position: top;
    padding: 15rem 0;
    clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
  }

  &__form-links {
    position: relative;
    background-color: rgba(255, 255, 255, 0.89);
    padding: 6rem 3rem;
    width: 60%;
    overflow: hidden;
    margin: auto;
    @include respond(phone) {
      width: 90%;
    }
    max-width: 50rem;
    font-size: 2rem;
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.15);
    border-radius: 0.8rem;
  }

  &__icon {
    position: absolute;
    width: 80%;
    top: 0;
    right: 0;
    height: auto;
    fill-opacity: 0.15;
    transform: translate(30%, -30%) rotate(25deg);
  }

  & &__title {
    color: var(--blue);
    margin-bottom: 3rem;
  }
}
