@import "../../util/scss/mixins";

.contactus {
  filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.3));
  &__container {
    position: relative;

    margin: auto;
    background-image: url("../../assets/images/chefchaouen-morocco.jpg");
    background-size: cover;
    background-position: top;
    padding: 15rem 0;
    clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
  }

  &__form-links {
    background-color: rgba(0, 0, 0, 0.65);
    padding: 6rem 3rem;
    width: 60%;
    margin: auto;
    @include respond(phone) {
      width: 90%;
    }
    max-width: 50rem;
    font-size: 2rem;
    border-radius: 0.8rem;
  }
}
