@import "../../util/scss/mixins";
.features {
  @include respond(phone) {
    padding: 10rem 0;
  }
  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include respond(tab-port) {
      justify-content: space-around;
    }
  }
  &__title {
    margin-bottom: 3rem;
  }
}

.feature-box {
  width: 20%;
  background-color: rgba(rgb(250, 250, 250), 0.8);
  padding: 2rem;
  font-size: 1.5rem;
  box-shadow: 0 0 4rem 1rem rgba(black, 0.12);
  transition: all 0.15s;
  text-align: center;
  margin: 2rem;
  min-width: 200px;
  &__icon {
    font-size: 5rem;
    margin: 2rem 0;
  }
  &__text {
    font-size: 1.7rem;
  }
  &:hover {
    transform: scale(1.05);
  }
}
