//Media Query : --------------------
//1em = 16px

@mixin respond($breakpoint) {
  @if ($breakpoint == phone) {
    @media (max-width: 37.5em) {
      @content;
    }
  }
  @if ($breakpoint == tap-port) {
    @media (max-width: 56.25em) {
      @content;
    }
  }
  @if ($breakpoint == tap-land) {
    @media (max-width: 75em) {
      @content;
    }
  }
  @if ($breakpoint == big-desktop) {
    @media (min-width: 112.5em) {
      @content;
    }
  }
}

@mixin gradientImage($image, $from-color, $to-color) {
  background-image: linear-gradient(to right bottom, $from-color, $to-color),
    url($image);
  background-size: cover;
  background-position: top;
}

@mixin centerElement {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading {
  color: var(--orange);
  text-transform: uppercase;
  &--primary {
    font-size: 7rem;
    font-weight: 300;
    letter-spacing: 2.2rem;
  }
  &--secondary {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0.15rem;
  }
  &--tertiary {
    margin-bottom: 1rem;
  }
}
