@import "../../util/scss/mixins";
.signup {
  position: relative;
  margin-top: 6rem;
  padding: 6rem 0;
  background-image: url("../../assets/images/sahara_morocco.jpg");
  background-position: bottom;
  background-size: cover;
  &__form {
    width: 60%;

    margin: auto;
    position: relative;
    overflow: hidden;
    background-color: white;
    border-radius: 4px;
    padding: 3rem;
    text-align: center;
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.25);
  }
  &__input {
    background-color: rgba(0, 0, 0, 0.15);
    font-size: 1.8rem;
  }

  &__title {
    margin-bottom: 15%;
  }

  &__icon {
    position: absolute;
    width: 70%;
    top: 0;
    right: 0;
    height: auto;
    fill-opacity: 0.2;
    transform: translate(30%, -30%) rotate(25deg);
  }
}
